@model PGPARS.Models.Review;
<div class="main">
    <div class="text-center text-outline p-3">
        <h2 class="display-6 fw-bold" style="color: #212529;">Edit Review</h2>
    </div>
    <form asp-action="EditReview" method="post">
        <input type="hidden" asp-for="ReviewNumber" />
     
        <div class="form-group">
            <label asp-for="LetterQuality" class="control-label"><strong>Letter Quality</strong></label>
            <select asp-for="LetterQuality" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span asp-validation-for="LetterQuality" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ResumeQuality" class="control-label"><strong>Resume Quality</strong></label>
            <select asp-for="ResumeQuality" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span asp-validation-for="ResumeQuality" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ResExpQuality" class="control-label"><strong>Resume Exp Quality</strong></label>
            <select asp-for="ResExpQuality" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span asp-validation-for="ResExpQuality" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ResumeComments" class="control-label"><strong>Resume Comments</strong></label>
            <input asp-for="ResumeComments" class="form-control" />
            <span asp-validation-for="ResumeComments" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="WritingSampleQuality" class="control-label"><strong>Writing Sample Quality</strong></label>
            <select asp-for="WritingSampleQuality" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span asp-validation-for="WritingSampleQuality" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="WritingSampleComments" class="control-label"><strong>Writing Sample Comments</strong></label>
            <input asp-for="WritingSampleComments" class="form-control" />
            <span asp-validation-for="WritingSampleComments" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LORRelevance" class="control-label"><strong>LOR Relevance</strong></label>
            <select asp-for="LORRelevance" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span asp-validation-for="LORRelevance" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LORQuality" class="control-label"><strong>LOR Quality</strong></label>
            <select asp-for="LORQuality" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span asp-validation-for="LORQuality" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LORComments" class="control-label"><strong>LOR Comments</strong></label>
            <input asp-for="LORComments" class="form-control" />
            <span asp-validation-for="LORComments" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="OverallFitQuality" class="control-label"><strong>Overall Fit Quality</strong></label>
            <select asp-for="OverallFitQuality" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span asp-validation-for="OverallFitQuality" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="OverallFitComments" class="control-label"><strong>Overall Fit Comments</strong></label>
            <input asp-for="OverallFitComments" class="form-control" />
            <span asp-validation-for="OverallFitComments" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>