@model CommitteeDashboardViewModel
<div class="main">
    <div class="dashboard-table">
        <div class="dashboard-body">
            <div class="dashboard-row">
                <div class="dashboard-cell">Committee Dashboard</div>
            </div>
            <div class="dashboard-row">
                <div class="dashboard-cell">
                    <h3>Applicants</h3>
                    <ul>
                        @foreach (var applicant in Model.Applicants)
                        {
                            <li>@applicant.FullName</li>
                        }
                    </ul>
                </div>
                <div class="dashboard-cell">
                    <h3>Reviews</h3>
                    <ul>
                        @foreach (var review in Model.Reviews)
                        {
                            <li>@review.ReviewId</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>