@model IEnumerable<PGPARS.Models.Applicant>

<div class="main">
    <div class="container-opaque">
        <div class="text-center p-3">
            Title
        </div>
    </div>
    </br>
    <div class="container-opaque p-5">
        Content
    </div>
</div>