@model PGPARS.Models.Applicant

<div class="main">
    <div class="container-opaque">
        <div class="text-center p-3">
            @Model.FullName
        </div>
    </div>
    </br>
    <div class="container-opaque p-5">
        <p><strong>Nnumber:</strong> @Model.Nnumber</p>
        <p><strong>Sex:</strong> @Model.Sex</p>
        <p><strong>Status:</strong> @Model.Status</p>
    </div>
</div>