@model AdminDashboardViewModel

<div class="main">
    <div class="dashboard-table">
        <div class="dashboard-body">
            <div class="dashboard-row">
                <div class="dashboard-cell">Admin Dashboard</div>
            </div>
            <div class="dashboard-row">
                <div class="dashboard-cell">
                    <h3>Applicants</h3>
                    <ul>
                        @foreach (var applicant in Model.Applicants)
                        {
                            <li>@applicant.Nnumber - @applicant.FullName</li>
                        }
                    </ul>
                </div>
                <div class="dashboard-cell">
                    <h3>Reviews</h3>
                    <ul>
                        @{
                            var reviews = new List<(string NNumber, DateTime DateTime)>
                        {
                        ("N" + new Random().Next(10000000, 99999999), DateTime.Now.AddMinutes(-10)),
                        ("N" + new Random().Next(10000000, 99999999), DateTime.Now.AddMinutes(-20)),
                        ("N" + new Random().Next(10000000, 99999999), DateTime.Now.AddMinutes(-30))
                        }
                            .OrderByDescending(r => r.DateTime)
                            .ToList();

                            foreach (var review in reviews)
                            {
                                <li>@review.NNumber - @review.DateTime.ToString("MM/dd/yyyy HH:mm")</li>
                            }
                        }
                    </ul>
                </div>
                <div class="dashboard-cell">
                    <h3>Funding</h3>
                    Coming Soon!
                </div>
            </div>
        </div>
    </div>
</div>
