<div>
    <div class="main">
        <div class="container-opaque">
            <div class="text-center p-5">
                Psychology Graduate Program Applicant Review System
            </div>
        </div>
        <div class="sidenav a">
            <a href="/StudentDirectory">Student Directory</a>
            <a href="/UserManagement">User Management</a>
            <a href="/etc">etc</a>
        </div>
        <table class="container">
            <tr>
                <th class="container-content text-center p-5">A</th>
                <th class="container-content text-center p-5">B</th>
            </tr>
            <tr>
                <th class="container-content text-center p-5">C</th>
                <th class="container-content text-center p-5">D</th>
            </tr>
        </table>

    </div>
</div>