<div class="main">
    <div class="dashboard-table">
        <div class="dashboard-header">
            <div class="container-opaque dashboard-header-item text-center p-4">Next in Queue</div>
            <div class="container-opaque dashboard-header-item text-center p-4">Recent Updates</div>
            <div class="container-opaque dashboard-header-item text-center p-4">Budget Remaining</div>
        </div>
        <div class="dashboard-body">
            <div class="dashboard-row">
                <div class="dashboard-cell">Test</div>
            </div>
            <div class="dashboard-row">
                <div class="dashboard-cell">Test</div>
                <div class="dashboard-cell">Test</div>
            </div>
            <div class="dashboard-row">
                <div class="dashboard-cell">Test</div>
                <div class="dashboard-cell">Test</div>
                <div class="dashboard-cell">Test</div>
            </div>
        </div>
    </div>
</div>