<div class="sidenav a">
    <a href="/AppList/StudentDirectory">Student Directory</a>
    <a href="/UserManagement">User Management</a>
    <a href="/etc">etc</a>
</div>
<div class="main">
    <div class="container-opaque">
            <div class="text-center p-5">
                Psychology Graduate Program Applicant Review System
            </div>
    </div>
    <table class="container">
        <tr >
            <th class="container-opaque text-center p-5">Next in Queue</th>
            <th class="container-opaque text-center p-5">Recent Updates</th>
        </tr>
        <tr>
            <th class="container-opaque text-center p-5">C</th>
            <th class="container-opaque text-center p-5">D</th>
        </tr>
    </table>
</div>