<br />
<div class="main">
    <div class="container-opaque">
            <div class="text-center p-3">
                Psychology Graduate Program Applicant Review System
            </div>
    </div>
    <br />
    <table class="container">
        <thead>
            <tr>
                <th class="container-opaque text-center p-4">Next in Queue</th>
                <th class="container-opaque text-center p-4">Recent Updates</th>
                <th class="container-opaque text-center p-4">Budget Remaining</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Test</td>
            </tr>
            <tr>
                <td>Test</td>
                <td>Test</td>
            </tr>
            <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
            </tr>
        </tbody>
    </table>
</div>