html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {

    color: white;
}

.container-opaque {
    background-color: rgb(128, 128, 128, 0.5);
    padding: 0px;
    border-radius: 20px;
    color: white;
}

.container-content {
    color: white;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  text-align: center;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
    margin-left: 200px;
    font-size: 28px;
    padding: 0px 10px;
    color: white;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body {
    min-height: 100vh;
    height: 100%;
    background-image: url('/images/Generic-Background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    justify-content: center;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
}

.body, .h1, .h2, .h3, .h4, .h5, .h6, .p, .a, .span {
    color: white;
}

.loginContainer {
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    align-content: center;
    text-align: center;

}

.loginContainer h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: white;
    font: lighter;
}

.loginContainer .btn-primary {
    width:40%;
    padding: 1rem;
    font-size: 1rem;
    background-color: darkgreen;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    
}

.loginContainer .btn-primary:hover {
    background-color: green;
}