
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*BODY*/
.body, .h1, .h2, .h3, .h4, .h5, .h6, .p, .a, .span {
    color: white;
}
body, html {
    padding-top: 35px;
    height: 100%;
    background-image: url('/images/Generic-Background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

/* Will Fix this later */
/*BUTTONS & FORMS*/
.btn-logout{
    background-color: red;
    color: white;
    border: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-logout:hover{
    background-color:darkred;
    transform: scale(1.10);
}
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*CONTAINERS*/
.container {
    color: white;
}
.container-opaque {
    background-color: rgb(128, 128, 128, 0.6);
    padding: 0px;
    border-radius: 5px;
    color: white;
}
.container-content {
    color: white;
}

/*FOOTER*/
.footer {
    
}

/*GRIDS*/
.grid-container > div {
    background-color: rgb(13, 33, 95, 0.8);
    background-blend-mode: color-dodge;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
}
.personalInfo { grid-area: a; }
.reviewInfo { grid-area: b; }
.courseInfo { grid-area: c; }
.applicationInfo { grid-area: d; }
.grid-container {
    display: grid;
    grid-template-areas:
        'a a a a a a'
        'b b b c c c'
        'd d d d d d';
    gap: 10px;
    background-color: rgb(128, 128, 128, 0.8);
    padding: 0px;
    border-radius: 3px;
    color: white;
}

/*HEADER*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 200px;
    right: 0;
    height: 60px;
    background-color: rgb(200, 200, 200);
    padding: 0 0px;
    box-sizing: border-box;
}
.headerContent {
    color: black;
    text-align: center;
    flex-grow: 1;
    font-size: 25px;
}
.headerLogo img{
    height: 50px;
    padding-right: 15px;
}

/*LOGIN*/
#loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.loginContainer {
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    border-radius: 10px;
    border: 3px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: lavender;
    color: black;

}
.loginContainer h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}
.loginContainer .btn-primary {
    width:40%;
    padding: 1rem;
    font-size: 1rem;
    background-color: darkgreen;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    
}
.loginContainer .btn-primary:hover {
    background-color: green;
}

/*MAIN*/
.main {
    margin-left: 200px;
    font-size: 25px;
    padding: 0;
    color: white;
}
.mainContent{
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.registerContainer {
    max-width: 500px;
    padding: 2rem;
    border-radius: 10px;
    border: 3px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: lavender;
    color: black;
    margin-left: 200px;
}

/*NAVBAR*/
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    text-align: center;
}
.sidenav a:hover {
    color: #f1f1f1;
    background-color: #0d215f;
}
.sidenav-footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    color: #FFFFFF;
    font-size: 10px;
    text-align: center;
}

/*TABLES*/
.table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-color: white;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid;
}
.table thead {
    background-color: #000000;
    color: white;
}
.table th, .table td {
    padding: 10px;
    text-align: left;
    color: white;
}
.table tbody tr:hover {
    background-color: #0d215f;
}