
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*BODY*/
.body, .h1, .h2, .h3, .h4, .h5, .h6, .p, .a, .span, .div {
    color: white !important;
    text-decoration: none !important;
}
body, html {
    padding-top: 30px;
    /*background-image: url('/images/Generic-Background.jpg');*/
    background: rgb(142,142,142);
    background: linear-gradient(0deg, rgba(142,142,142,1) 0%, rgba(17,79,158,1) 50%, rgba(35,66,121,1) 100%);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    margin: 5px;
}

/* Will Fix this later */
/*BUTTONS & FORMS*/
.btn-logout{
    background-color: red;
    color: white;
    border: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-logout:hover{
    background-color:darkred;
    transform: scale(1.10);
}
.btn btn-lg {
    color:white;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: underline rgba(0, 0, 0, 0.1);
    text-shadow: -2px -2px 0 black, 
         2px -2px 0 black, 
        -2px  2px 0 black, 
         2px  2px 0 black, 
        -1px -1px 0 black, 
         1px -1px 0 black, 
        -1px  1px 0 black, 
         1px  1px 0 black;
}
.btn-edit {
    margin-left: 15px;
}
.btn-delete {
    margin-right: 15px;
    background-color: #dc3545;
}
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.btn-lg:hover,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*CHART / GRAPH*/
.chart-container {
    max-height: 500px;
    background-color: rgb(128, 128, 128, 0.6);
    color: white;
    border-radius: 8px;
    justify-content: center;
    align-items: stretch;
    display: flex;
}

/*CONTAINERS*/
.container {
    color: white;
}
.container-opaque {
    background-color: rgb(128, 128, 128, 0.6);
    padding: 0px;
    border: 0px solid black;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-opaque .text-center {
    flex-grow: 1;
    text-align: center;
}
.container-content {
    color: white;
}
/*CHECKBOXES*/
.container-checkbox {
    text-align: center;
    vertical-align: middle;
}
/* Hide the browser's default checkbox */
 .container-checkbox input {
    position: relative;
    opacity: 1;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.container-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: gray;
}
/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    background-color: #0d215f;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container-checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 25px;
    height: 25px;
    border: 1.5px solid white;
    background-color: black;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px; /* Optional rounded corners */
    position: relative;
}
/* Checkbox hover state */
.container-checkbox input[type="checkbox"]:hover {
    background-color: #258cfb; /* Blue on hover */
}

/* Checkbox checked state */
.container-checkbox input[type="checkbox"]:checked {
    background-color: #258cfb; /* Blue background when checked */
    border-color: black;
}

/* White checkmark inside checkbox */
.container-checkbox input[type="checkbox"]::before {
    content: "+";
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: -2px 2px 0px black, /* Top-left shadow */
    2px 2px 0px black, /* Top-right shadow */
    -2px -2px 0px black, /* Bottom-left shadow */
    2px -2px 0px black, /* Bottom-right shadow */
    -2px 0px 0px black,
    0px 2px 0px black,
    2px 0px 0px black,
    0px -2px 0px black;
}
/* Show checkmark when checked */
.container-checkbox input[type="checkbox"]:checked::before {
    display: block;
}

/*DASHBOARD*/
.dashboard-table {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.dashboard-header {
    display: flex;
    justify-content: space-around; /* Space out header items evenly */
    padding: 10px;
    background-color: #0d215f; /* Background color for headers */
    color: white;
    border-radius: 5px;
}
.dashboard-header-item {
    flex: 1;
    margin: 5px;
    padding: 15px;
    color: white;
}
.dashboard-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.dashboard-row {
    display: flex;
    justify-content: space-around;
}
.dashboard-cell {
    flex: 1;
    text-align: center;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.6); /* Similar to container-opaque */
    color: white;
    border-radius: 15px;
    margin: 5px;
    min-height: 30px;
    /*max-height: 400px;*/
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*FOOTER*/
.footer {
    
}

/*LOGIN*/
.form-box {
    background-color: rgba(128, 128, 128, 0.6);
    padding: 0px;
    border: 0px solid black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*GRIDS*/
.grid-container > div {
    text-align: center;
    font-size: 20px;
}
.personalInfo {grid-area: a;}

.reviewInfo {grid-area: b;}

.courseInfo {grid-area: c;}

.applicationInfo {grid-area: d;}

.grid-container {
    display: grid;
    grid-template-areas:
        'a a a a a a'
        'b b b c c c'
        'd d d d d d';
    gap: 7px;
    padding: 0px;
    border-radius: 1px;
    color: white;
}

/*HEADER*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 200px;
    right: 0;
    min-height: 60px;
    background-color: rgb(200, 200, 200);
    padding: 0 0px;
    box-sizing: border-box;
}
.headerContent {
    color: black;
    text-align: center;
    flex-grow: 1;
    font-size: 25px;
}
.headerLogo img{
    height: 50px;
    padding-right: 15px;
}

/*LOGIN*/
.loginBody {
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 70vh;
}
.loginContainer {
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: rgb(128, 128, 128, 0.6);
    color: black;
}
.loginContainer .h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}
.loginContainer .hr {
    border: none;
    border-top: 3px solid black;
    margin: 10px 0;
    width: 100%; /* Adjust the width as needed */
    align-self: center;
    color: black;
}
.loginContainer .btn-primary {
    width:40%;
    padding: 1rem;
    font-size: 1rem;
    background-color: darkgreen;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    
}
.loginContainer .btn-primary:hover {
    background-color: green;
}
.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

/*MAIN*/
.main {
    margin-left: 200px;
    font-size: 18px;
    padding: 0;
    color: white;
    text-decoration: none;
}
.mainContent{
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.registerContainer {
    max-width: 500px;
    padding: 2rem;
    border-radius: 10px;
    border: 3px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: lavender;
    color: black;
    margin-left: 200px;
}

/*NAVBAR*/
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    text-align: center;
}
.sidenav a:hover {
    color: #f1f1f1;
    background-color: #0d215f;
}
.sidenav-footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    color: #FFFFFF;
    font-size: 10px;
    text-align: center;
}

/*TABLES*/
.table {
    width: 100%;
    border-collapse: collapse;
    border-color: black;
    border-radius: 10px;
    overflow: auto;
    border: 2px solid black;
    table-layout: auto;
    background-color: rgb(0, 0, 0, 0.5);
    text-decoration: none;
}
.table thead {
    background-color: #0d215f;
    color: white;
}
.table th, .table td {
    padding: 5px;
    text-align: center;
    color: white;
    border: 2px solid black;
    text-shadow: -2px -2px 0 black, 
         2px -2px 0 black, 
        -2px  2px 0 black, 
         2px  2px 0 black, 
        -1px -1px 0 black, 
         1px -1px 0 black, 
        -1px  1px 0 black, 
         1px  1px 0 black; /* Bottom-right shadow */
}
.th {
    background-color: #0d215f;
    text-align: center;
}
.specialtext:hover {
    background: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(0,22,255,0.25) 100%);
    /*color: aqua;*/
    /*animation: fadeIn 1s;*/
}
.specialtext.active {
    /*font-weight: bold;*/
    color: white;
    background: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(255,255,255,0.25) 100%);
    border-radius: 4px;
    padding: 4px 8px;
}

/* TEXT */
.text-outline {
    color: white; /* Inner text color */
    text-shadow: 2px 2px 0 black, /* Top-left shadow */
    2px 2px 0 black, /* Top-right shadow */
    2px 2px 0 black, /* Bottom-left shadow */
    2px 2px 0 black; /* Bottom-right shadow */
}
.text-shadow2 {
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

/*EFFECTS*/
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.validation-summary-errors ul {
    list-style: none;
    padding-left: 0;
}

/*Placeholder text for search bar*/
.lighter_placeholder {
    color: white;
    opacity: 1; /* Apparently this is a firefox fix */
}
input:placeholder-shown {
    color:white;
    opacity: 1;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background: radial-gradient(circle, rgba(0,22,255,0.25), rgba(0,0,0,1) 100%);
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(0,22,255,0.25) 100%);
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 8px;
    display: none;
    overflow: hidden;
    background: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(0,22,255,0.25) 100%);
}
