@model PGPARS.Models.Funding

<div class="main">
    <div class="container-opaque">
        <!-- Title -->
        <div class="text-center p-3">
    <h2>Edit Funding</h2>
        </div>
    </div>
   <div>
    <form asp-action="EditFunding" method="post">
        <div class="form-group">
                <label asp-for="Cohort"></label>
                <input asp-for="Cohort" class="form-control" />
                <span asp-validation-for="Cohort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FundingType"></label>
                <select asp-for="FundingType" class="form-control">
                    <option value="GRA">GRA</option>
                    <option value="GRA 10 (half stipend)">GRA 10 (half stipend)</option>
                    <option value="Tonsfeldt">Tonsfeldt</option>
                    <option value="Grad Scholar">Grad Scholar</option>
                    <option value="JZAG">JZAG (Jacksonville zoo and gardens)</option>
                    <option value="Other">Other (catch all option)</option>
                </select>
                <span asp-validation-for="FundingType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Source"></label>
                <input asp-for="Source" class="form-control" />
                <span asp-validation-for="Source" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Amount"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Applicant"></label>
            <input asp-for="Applicant" class="form-control" />
            <span asp-validation-for="Applicant" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Comment"></label>
            <textarea asp-for="Comment" class="form-control"></textarea>
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a asp-action="FundingDirectory" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
