@model IEnumerable<PGPARS.Models.Funding>

<div class="main">
    <div class="container-opaque">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Applicant</th> 
                </tr>
            </thead>
            <tbody>
                @foreach (var fund in Model)
                {
                    <tr>
                        <td>@fund.Name</td>
                        <td>@fund.Amount</td>
                        <td>
                            @if (fund.Applicant == null)
                            {
                                <!-- Button should appear within the Applicant cell if there's no applicant assigned -->
                                <a asp-action="AssignFundingToApplicant" asp-route-fundingId="@fund.FundingID" asp-route-applicantId="desiredApplicantId" class="btn btn-primary">Assign</a>
                            }
                            else
                            {
                                <!-- Display the applicant name if already assigned -->
                                @fund.Applicant
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
