@model IEnumerable<PGPARS.Models.Funding>
<div class="main">
    <div class="container-opaque">
        <div class="text-center p-3">
            Funding List
        </div>
    </div>
    <br />
    <div class="container-opaque">
        <table>
            <tr>
                <th>Name</th>
                <th>Amount</th>
            </tr>
            @foreach (var fund in Model)
            {
                <tr>
                    <td>@fund.Name</td>
                    <td>@fund.Amount</td>
                </tr>
            }
        </table>
    </div>
</div>