@model LoginViewModel;
<body>
    <div class="loginBody">
        <div class="loginContainer">
            <div class="text-outline h1">
                Login
                <hr class="hr"/>
                <div class="loginForm">
                    <div asp-validation-summary="All">
                        <form asp-action="Login">
                            <div>
                                <label asp-for="Email" class="form-label"></label>
                                <input asp-for="Email" class="form-control" placeholder="Enter your email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <br />
                            <div>
                                <label asp-for="Password" class="form-label"></label>
                                <input asp-for="Password" class="form-control" type="password" placeholder="Enter your password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <br />
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>