@model RegisterViewModel

<div class="mainContent">
    <div class="registerContainer">
        <h2>Create new Account</h2>

        <div asp-validation-summary="All" class="text-danger"></div>

        <form method="post" asp-action="Register" asp-antiforgery="true">
            <div class="form-group">
                <label asp-for="FirstName" class="control-label" style="font-weight: bold"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label" style="font-weight: bold"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label" style="font-weight: bold"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Nnumber" class="control-label" style="font-weight: bold"></label>
                <input asp-for="Nnumber" class="form-control" />
                <span asp-validation-for="Nnumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                    <label asp-for="Password" class="control-label" style="font-weight: bold"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label" style="font-weight: bold"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Role" class="control-label" style="font-weight: bold"></label>
                <select asp-for="Role" class="form-control">
                    <option value="">-- Select Role --</option>
                    <option value="Admin">Administrator</option>
                    <option value="Committee">Committee Member</option>
                    <option value="Faculty">Faculty Member</option>
                    <option value="Staff">Staff Member</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
