<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PGPARS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="sidenav a">
            <p class="text-center">Welcome, @User.Identity.Name!</p>
            <a asp-action="Dashboard" asp-controller="Admin">Admin Dashboard</a><br/>
            <a asp-action="ApplicantDirectory" asp-controller="Applicant">Applicant Directory</a><br />
            <a asp-action="Directory" asp-controller="Account">User Directory</a><br />
            <a asp-action="FundingDirectory" asp-controller="Funding">Funding Directory</a><br />
            <a asp-action="Register" asp-controller="Account">Create Account</a><br />
            <a asp-action="" asp-controller="">For Testing</a>
            <p class="text-center sidenav-footer">
                <a asp-action="Logout" asp-controller="Account">Logout</a>
                &copy; 2024 - PGPARS<br />Magic in Development
            </p>
        </div>
    }
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="sidenav a">
            <p class="text-center sidenav-footer">
                &copy; 2024 - PGPARS<br />Magic in Development
            </p>
        </div>
    }
    <div class="header">
        <div class="headerContent">
            <strong>Psychology Graduate Program Applicant Review System</strong>
        </div>
        <div class="headerLogo">
            <img src="~/images/UNF-Logo.png" alt="UNF Logo" />
        </div>
    </div>

    @RenderBody()
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
