<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PGPARS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="sidenav a">
            <p class="text-center">Welcome, @User.Identity.Name!</p>
            <a asp-action="Dashboard" asp-controller="Admin">Admin Dashboard</a>
            <a asp-action="ApplicantDirectory" asp-controller="Applicant">Applicant Directory</a>
            <a asp-action="Register" asp-controller="Account">Create Account</a>
            <a asp-action="Logout" asp-controller="Account">Logout</a>
            <a asp-action="ApplicantDetails" asp-controller="Applicant">Applicant Details (Testing)</a>
            <a asp-action="" asp-controller="">Test 2</a>
            <a asp-action="" asp-controller="">Test 3</a>
            <p class="text-center sidenav-footer">&copy; 2024 - PGPARS<br />Magic in Development</p>
        </div>
    }

    <div class="container">
        @RenderBody()
    </div>

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
