<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>PGPARS</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" asp-href-include="~/css/site.css" />
</head>

<body>
    @RenderBody()
    <footer class="footer">
        <div>
            &copy; 2024 - PGPARS - Magic in Development
        </div>
    </footer>
</body>


</html>
