<div class="container-opaque">
    <div class="container-content">
        <div class="text-center p-5" style="">
            <h1>Psychology Graduate Program Applicant Review System</h1>
            <br />
            <br />
            <!--CHANGE BELOW href TO LOGIN PAGE-->
            <a href="/Dashboard" class="btn btn-success btn-lg">Login</a>
        </div>
    </div>
</div>